$color-white: #ffffff;

$color-white-dark-primary: #fcfcfd;
$color-white-dark-secundary: #f5f4f6;
$color-white-dark-tertiary: #ebeaed;
$color-white-dark-quarterly: #dedce1;

$color-ink-primary: #170c3a;

$color-ink-light-primary: #8f8a9b;
$color-ink-light-secundary: #b1adb9;
$color-ink-light-tertiary: #c7c4cd;

$color-blue: #365df0;

$color-blue-dark-primary: #2f55cc;
$color-blue-dark-secundary: #244aa8;

$color-blue-light-primary: #9aaef7;
$color-blue-light-secundary: #b9c6fa;
$color-blue-light-tertiary: #cad6fc;
$color-blue-light-quarterly: #e1e7fd;

$color-green: #12db89;

$color-green-dark-primary: #10b26c;
$color-green-dark-secundary: #0e995d;

$color-green-light-primary: #88edc4;
$color-green-light-secundary: #b7f7d8;
$color-green-light-tertiary: #cff9e6;
$color-green-light-quarterly: #e7fbf3;

$color-red: #f95e5a;

$color-red-dark-primary: #cc4c4c;
$color-red-dark-secundary: #a53f3f;

$color-red-light-primary: #fcaeac;
$color-red-light-secundary: #fcc6c5;
$color-red-light-tertiary: #fcd7d6;
$color-red-light-quarterly: #feefee;

$color-yellow: #ffbb43;

$color-yellow-dark-primary: #d89c3a;
$color-yellow-dark-secundary: #996c2b;

$color-yellow-light-primary: #ffdda1;
$color-yellow-light-secundary: #fff8ec;

$color-purple: #6554c0;

$color-purple-dark-primary: #4c4499;
$color-purple-dark-secundary: #353372;

$color-purple-light-primary: #b2a9df;
$color-purple-light-secundary: #efeef9;

$color-teal: #30c3fc;

$color-teal-dark-primary: #2bafd8;
$color-teal-dark-secundary: #2497b2;

$color-teal-light-primary: #98e1fe;
$color-teal-light-secundary: #eaf9ff;
