// Mapa de font-sizes
$font-sizes: (
  xxxxxbig: 52px,
  xxxxbig: 48px,
  xxxbig: 42px,
  xxbig: 36px,
  xbig: 24px,
  big: 18px,
  medium: 16px,
  small: 14px,
  xsmall: 12px,
  sizeh1: $size-h1,
  sizeh2: $size-h2,
  sizeh3: $size-h3,
  sizeh4: $size-h4,
  sizeh5: $size-h5,
  sizebody: $size-body,
  sizebodysmall: $size-body-small,
) !default;
// Função de leitura de mapa
@function size($value, $rem: true) {
  @if map-has-key($font-sizes, $value) {
    @if $rem {
      @return map-get($font-sizes, $value);
    } @else {
      @return map-get($font-sizes, $value);
    }
  }
}
